/* utilites */
* {
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.container {
    width: 80%;
    margin: 0 auto;
}

.btn-primary {
    padding: 14px 45px;
    background: #30B868;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-secondary {
    padding: 14px 45px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #30B868;
    border: 1px solid #30B868; 
}

.btn-secondary:hover {
    background: #fff;
    color: #30B868;
    border: 1px solid #30B868;
    border-radius: 5px;
}

.color-primary {
    color: #30B868;
}

.heading-primary {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
}

.text-primary {
    color: #627382;
    line-height: 20px;
}

/* main styles */
header{
    padding: 16px 0;
}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav ul a:hover {
    color: #30B868;
}

/* hero section */
.hero-section {
    background: url('../assets/hero-bg.png') no-repeat;
    background-size: cover;
    padding: 115px 120px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .text-content {
    width: 800px;
}

.hero-section .early-access {
    background: #fff;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-self: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-section h1 {
    color: #fff;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

/* notes section start */
.note-section {
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 60px;
}

.note-section h2, 
.note-section p {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.card {
    width: 322px;
    background: #fff;
    padding: 40px;
    border: 1px solid transparent;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

.card .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card .image-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f95555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card h3, 
.card p,
.ready-to-think h2,
.ready-to-think p,
.ready-to-think button,
footer p{
    margin-bottom: 16px;
}

/* second brain section start */
.second-brain .container {
    padding: 100px 0;
    display: flex;
    gap: 60px;

    align-items: center;
}
.second-brain img {
    width: 600px;
    height: 600px;
}

.text .the-solution-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.text .Personal-Knowledge-text {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.5em;
}
.text ul {
    list-style: none;
}

.text ul li {
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    gap: 8px;
}
.text ul li img {
    width: 20px;
    height: 20px;
}

/* ready to think start */
.ready-to-think {
    background-color: rgba(247, 246, 242, 1);
    padding: 40px 0;
    border-radius: 12px;
    text-align: center;
}

/* footer styles start */
footer {
    background-color: rgba(0, 25, 49, 1);
    margin-top: 120px;
    padding: 120px 0 30px;
}

footer .social-link-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(8, 62, 170);
    padding-bottom: 84px;
}

footer p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

footer ul a {
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
}

footer ul a:hover {
    background-color: #30B868;
    color: #fff;
}

footer .copyrights {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}