/* utilites */
* {
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.btn-primary {
    padding: 14px 45px;
    background: #30B868;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-secondary {
    padding: 14px 45px;
    background: transparent;
    color: #30B868;
    border: 1px solid #30B868;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #30B868;
    border: 1px solid #30B868; 
}

.btn-secondary:hover {
    background: #fff;
    color: #30B868;
    border: 1px solid #30B868;
    border-radius: 5px;
}

.color-primary {
    color: #30B868;
}

/* main styles */
header{
    padding: 16px 0;
}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav ul a:hover {
    color: #30B868;
}

/* hero section */
.hero-section {
    background: url('../assets/hero-bg.png') no-repeat;
    background-size: cover;
    padding: 115px 120px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .text-content {
    width: 800px;
}

.hero-section .early-access {
    background: #fff;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-self: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-section h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}
